<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.immutablefix.systemcontrol"
    android:versionCode="9"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait" >
        <activity
            android:name="uk.co.immutablefix.systemcontrol.SwipeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.co.immutablefix.systemcontrol.AboutActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="uk.co.immutablefix.systemcontrol.ScreenReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="uk.co.immutablefix.systemcontrol.CpuControlFragment"
            android:label="@string/title_activity_cpu_fragment" >
        </activity>
        <activity
            android:name="uk.co.immutablefix.systemcontrol.CpuItemFragment"
            android:label="@string/title_activity_cpu_item_fragment" >
        </activity>
        <activity
            android:name="uk.co.immutablefix.systemcontrol.CompatibilityActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>